In [2]:
import pandas as pd
import re
import os
from os import path
import matplotlib.pyplot as plt

In [3]:
datosIdeam = pd.read_csv("Bog_lluv_hora_IDEAM_corregido.csv")
datosIdiger = pd.read_csv("Bog_lluv_hora_IDIGER.csv")

In [9]:
len(datosIdeam)
datosIdeam

                      Fecha  Valor    CODIGO   LATITUD   LONGITUD
0       2020-01-11 07:00:00    0.0  21206260  4.798639 -74.049722
1       2020-01-11 08:00:00    0.0  21206260  4.798639 -74.049722
2       2020-01-11 09:00:00    0.0  21206260  4.798639 -74.049722
3       2020-01-11 10:00:00    0.0  21206260  4.798639 -74.049722
4       2020-01-11 11:00:00    0.0  21206260  4.798639 -74.049722
...                     ...    ...       ...       ...        ...
811581  2022-06-01 01:00:00    0.0  21205710  4.669333 -74.102667
811582  2022-06-01 02:00:00    0.0  21205710  4.669333 -74.102667
811583  2022-06-01 03:00:00    0.0  21205710  4.669333 -74.102667
811584  2022-06-01 04:00:00    0.0  21205710  4.669333 -74.102667
811585  2022-06-01 05:00:00    0.0  21205710  4.669333 -74.102667

[811586 rows x 5 columns]

In [5]:
datosIdiger.head()

,Unnamed: 0,IDESTACION,IDSENSOR,FECHALECTURA,VALORLECTURA,LATITUD,LONGITUD
0,0,21ANGELES,PRPC1MIN,2015-09-29 00:00:00,0.0,4.749234,-74.08073
1,1,21ANGELES,PRPC1MIN,2015-09-29 01:00:00,0.0,4.749234,-74.08073
2,2,21ANGELES,PRPC1MIN,2015-09-29 02:00:00,0.0,4.749234,-74.08073
3,3,21ANGELES,PRPC1MIN,2015-09-29 03:00:00,0.0,4.749234,-74.08073
4,4,21ANGELES,PRPC1MIN,2015-09-29 04:00:00,0.0,4.749234,-74.08073

In [12]:
df = pd.DataFrame(columns =['ESTACION', 'FECHA', 'VALOR', 'LATITUD', 'LONGITUD'])

In [11]:
datosIdeam =  datosIdeam.drop('Unnamed: 0', axis =1)

KeyError: "['Unnamed: 0'] not found in axis"

In [13]:
IDEAM = pd.DataFrame()
IDIGER = pd.DataFrame()

In [14]:
IDEAM[['ESTACION', 'FECHA', 'VALOR', 'LATITUD', 'LONGITUD']] = datosIdeam[['CODIGO','Fecha', 'Valor', 'LATITUD', 'LONGITUD']]

In [15]:
IDIGER[['ESTACION', 'FECHA', 'VALOR', 'LATITUD', 'LONGITUD']] = datosIdiger[['IDESTACION','FECHALECTURA', 'VALORLECTURA', 'LATITUD', 'LONGITUD']]

In [16]:
len(IDIGER)

1011411

In [17]:
len(IDEAM)

811586

In [18]:
len(datosIdiger)

1011411

In [19]:
len(datosIdeam)

811586

In [20]:
df = df.append(IDEAM, ignore_index=True)

In [21]:
df = df.append(IDIGER, ignore_index=True)

In [22]:
df

               ESTACION                FECHA  VALOR   LATITUD   LONGITUD
0              21206260  2020-01-11 07:00:00    0.0  4.798639 -74.049722
1              21206260  2020-01-11 08:00:00    0.0  4.798639 -74.049722
2              21206260  2020-01-11 09:00:00    0.0  4.798639 -74.049722
3              21206260  2020-01-11 10:00:00    0.0  4.798639 -74.049722
4              21206260  2020-01-11 11:00:00    0.0  4.798639 -74.049722
...                 ...                  ...    ...       ...        ...
1822992  UNION-COLOMBIA  2020-12-31 19:00:00    0.0  4.159470 -74.027520
1822993  UNION-COLOMBIA  2020-12-31 20:00:00    0.0  4.159470 -74.027520
1822994  UNION-COLOMBIA  2020-12-31 21:00:00    0.0  4.159470 -74.027520
1822995  UNION-COLOMBIA  2020-12-31 22:00:00    0.0  4.159470 -74.027520
1822996  UNION-COLOMBIA  2020-12-31 23:00:00    0.0  4.159470 -74.027520

[1822997 rows x 5 columns]

In [23]:
df.to_csv('Bog_lluv_hora_IDEAM_IDIGER_corregido.csv')

In [24]:
df

               ESTACION                FECHA  VALOR   LATITUD   LONGITUD
0              21206260  2020-01-11 07:00:00    0.0  4.798639 -74.049722
1              21206260  2020-01-11 08:00:00    0.0  4.798639 -74.049722
2              21206260  2020-01-11 09:00:00    0.0  4.798639 -74.049722
3              21206260  2020-01-11 10:00:00    0.0  4.798639 -74.049722
4              21206260  2020-01-11 11:00:00    0.0  4.798639 -74.049722
...                 ...                  ...    ...       ...        ...
1822992  UNION-COLOMBIA  2020-12-31 19:00:00    0.0  4.159470 -74.027520
1822993  UNION-COLOMBIA  2020-12-31 20:00:00    0.0  4.159470 -74.027520
1822994  UNION-COLOMBIA  2020-12-31 21:00:00    0.0  4.159470 -74.027520
1822995  UNION-COLOMBIA  2020-12-31 22:00:00    0.0  4.159470 -74.027520
1822996  UNION-COLOMBIA  2020-12-31 23:00:00    0.0  4.159470 -74.027520

[1822997 rows x 5 columns]